<h4> <strong> Welcome to eDeals Rwanda!</strong></h4><br><br>

<h4>
eDeals Rwanda is the buying and selling of goods over an electronic network, primarily the internet. 
This site was established to faciliatate Rwandans an other people shope any products online and those products can be delivered to them without taking much time going to the market. This application allows people to view and order any product of their choice. 
It provides access to become a seller incase anyone is interested. Sellers are able to add new products, edit existing ones and even delete them.
</h4>