<p>Dear, <%= @user.first_name %></p>

<p> 
Thank you for ordering our product. Your order has been received, and the seller will reach to you soon for further payment and delivery steps.

Thank you for shopping with us!
</p>

<p>Sincerely,</p>
<p>Eugene Niyitanga</p>
