.item {
  width: 580px; 
}

.carousel-inner {
  width: 580px;
  max-height: 400px;
}

.carted_product {
  width: 150px;
}

.index {
  width: 200px;
}

.images {
  max-width: 350px;
  max-height: 300px;
}

body {
  border: radius;
}

.navbar {
   color: white;
    font-size: 130%;
   background-color: black;
   font-style: italic;
    color: white;
    font-family: "Times New Roman", Times, serif;
     font-weight: bold;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.created_at {
  color: blue; 
}